* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 16px;
  padding: 5px;
}
.input-container {
  padding-top: 10px; 
  padding-bottom: 10px;
}
.input {
  background: #f8f8f8;
  border-style: none;
  border: 2px solid lightgray;
  padding: 3px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;

}

p {
  font-family: "Open Sans", sans-serif;

  font-size: 15px;
  padding-bottom: 5px;
  
}
.footnote {
  font-family: "Open Sans", sans-serif;
  color: #0049b7;
  font-size: 8px;
  padding-top: 6px;
  text-align: center;
}
.divideMiddleText {
  text-align: center;
  font-weight: bold;
}
.btn-container {
  padding-top: 10px;
  display: flex;

  justify-content: center;
}
.goto-btn {
  color: #143774;
  background: white;
  padding: 5px 15px;
  font-family: "Raleway", sans-serif;

  border-color: #143774;
  border-radius: 6px;
  width: 100%;
}
.submit-btn {
  color: white;
  background: #143774;
  padding: 5px 15px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  border-color: #143774;
  border-radius: 6px;
}
.submit-btn:hover,
.goto-btn:hover {
  cursor: pointer;
  background-color: #0198E1;/*	#7EB6FF;*/
  color: white;
  border-color: 	#0198E1;
}

.title-container {
  background-color: #143774;
  height: 30px;
}
.title {
  padding-top: 2px;
  display: flex;
  justify-content: center;

  color: white;

  font-family: "Open Sans", sans-serif;
}
