* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 5px;
  padding: 5px;
}

.input {
  background: #f8f8f8;
  border-style: none;
  border: 2px solid lightgray;
  padding: 3px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.input-container {
  padding-top: 8px;
}
p {
  font-family: "Open Sans", sans-serif;

  font-size: 15px;
  padding-bottom: 2px;
  /*text-align: center;*/
}

.submit-btn {
  color: #143774;
  background: white;
  padding: 5px 15px;
  font-family: "Raleway", sans-serif;

  border-color: #143774; 
  border-radius: 6px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color:  #143774;
  color: white;
}
.logo-container {
  background-color: #dc143c; /*background-color: #143774;*/
  height: 40px;
  display: flex;
  justify-content: center;
}

.title-container{
  background-color:  #143774;
  height: 30px;

}
.title {
    
  padding-top:2px ;
display: flex;
justify-content: center;

  color:white;
 
  font-family: "Open Sans", sans-serif; 
}
.logo {
  height: 100%;
  width:40%;
}
.btn-container {
  padding-top: 10px;
  display: flex;

  justify-content: center;
}
